* {
    box-sizing: border-box;
    
}
h2 {
    text-align: center;
}
h3 {
    margin-left: 53%;
}
body {
    background-color: #f4f4f4;
    font: normal;
}
.ui-list-div p { 
    color:black; 
    /* text-align: center; */
} 
.ui-list-div { 
    /* margin-top:1.2em; */
    background-color:aliceblue; /*rgb(0, 255, 213);*/
    height:auto; 
    width :8em;
    height:8em;
    border:1px solid blue
} 

ul li {
    list-style: none;
}

.list-container, .task-container{
    width: 80%;
    margin:auto;
    border:1px gainsboro solid ;
    padding:5px;
}

#list-form  input[type='text'],#search-form input[type='text']{
    width:30%;
    padding: 10px;
    justify-content: center;
    margin-left: 33%;
    margin-bottom: .8em;
}
.tdiv  input[type='text']{
    width:80%;
    padding: 10px;
    margin:5px;
    margin-left:25px;
    justify-content: center;
}
.task-div input[type='text']{
    width:80%;
    padding: 10px;
    margin:5px;
    justify-content: center;
}
.button ,.ListButton {
    background-color: #333;
    border:none;
    color:#fff;
    padding:10px;
}
.ListButton1{
    border: none;
    padding: 10px;
    background-color: #333;
    color:#fff;
}
.ListButton.active {
    background-color: #666;
    color: white;
}

#list-form{
    width:80%;
}
#task-form {
    width:80%;
    margin:auto;
}
.show-taskList{
    width:100%;
}

 #lName{
    margin-left:53%
}
#task-form textarea{
    width : 100%;
    padding: 10px;
}
.show-more-info{
    width:50%;
    padding: 2px;
    justify-content: center;
    margin: auto;
    /* margin-left:33%; */
    /* display: grid; */
    /* align-items: flex-start; */
}
.task-grid {
    display: grid;
    grid-template-columns: .5fr 7fr .3fr;
}
.block-4 {
    margin-left: 33%;
}
.block-4 div {
    padding: 10px;
    display: block;
}
.block-3 .button {
    float: right;
}
.nav-bar {
    display: grid;
    grid-template-columns: .9fr 9fr .2fr .1fr;
    width:100%;
    background-color:#444;
}
 .block-1, .block-3 {
    justify-self: center;
    padding:10px 15px;
    /* margin-left:15px; */
    background-color: #444;
    color:#fff;
    border-radius:8px;
    border-color:#444;
    border-style: groove;
}
.btn-group  {
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap:1px;
     /* grid-template-columns: [first] 10px [second] 10px [third] 20px ; */
    justify-self: center;
    
}
.btn-group .block-2 {
    background-color: #444;
    color:#fff;
    border-radius:8px;
    border-color:#444;
    border-style: groove;
}
.main-div-display {
    display:flex;justify-content:space-evenly;
}
.inner-p{
   text-align: Left;
   /* overflow : hidden; */
   /* text-overflow: ellipsis; */
   /* width : 25px; */
   white-space: nowrap; 
   width: 80px; 
   height:50px;
   overflow: hidden;
   text-overflow: ellipsis; 
}