* {
    box-sizing: border-box;
}
h2 {
    text-align: center;
}
h3 {
    margin-left: 53%;
}
body {
    background-color: #f4f4f4;
    font: normal;
}
.ui-list-div p { 
    color:black; 
    padding: 10px;
    /* text-align: center; */
} 
.ui-list-div { 
    /* margin-top:1.2em; */
    background-color:rgb(146, 150, 149);
    height:auto; 
    width :8em;
    height:8em;
} 

ul li {
    list-style: none;
}

.list-container, .task-container{
    width: 80%;
    margin:auto;
    /* border:1px gainsboro solid ; */
    padding:5px;
}

#list-form  input[type='text'],#search-form input[type='text']{
    width:30%;
    padding: 10px;
    justify-content: center;
    margin-left: 33%;
    margin-bottom: .8em;
}
.tdiv  input[type='text']{
    width:80%;
    padding: 10px;
    margin:5px;
    margin-left:25px;
    justify-content: center;
}
.task-div input[type='text'] ,.today-task input[type='text'] {
    width:80%;
    padding: 10px;
    margin:5px;
    justify-content: center;
}
.button {
    background-color: #333;
    margin:auto;
    border:none;
    color:#fff;
    padding:10px;
}
.ListButton {
    background-color: #333;
    border:none;
    color:#fff;
    padding:10px;
}
.ListButton1{
    border: none;
    padding: 10px;
    background-color: #333;
    color:#fff;
}
.ListButton.active {
    background-color: #666;
    color: white;
}
#list-form{
    width:80%;
}
#task-form {
    width:80%;
    margin:auto;
}
.show-taskList{
    width:100%;
    display: none;
}
.show-taskList > i{
 float: right;   
}
 #lName{
    margin-left:53%
}
#task-form textarea{
    width : 100%;
    padding: 10px;
}
.show-more-info {
    width:50%;
    display: flex;
    padding: 2px;
    justify-content: center;
    margin: auto;
}
.task-grid {
    display: grid;
    grid-template-columns: .5fr 7fr .3fr;
}
.block-4 {
    margin-left: 5%;
    width:50%;
}
.block-4 div {
    padding: 10px;
    display: block;
}
.block-3  {
    justify-self: center;
    border-style: ridge;
    background-color:#444;
    border-color: #444;
}
.nav-bar {
    display: grid;
    grid-template-columns: .9fr 9fr .2fr .1fr;
    width:100%;
    background-color:#444;
}
 .block-1{
    justify-self: center;
    padding:10px 15px;
    /* margin-left:15px; */
    background-color: #444;
    color:#fff;
    border-radius:8px;
    border-color:#444;
    border-style: groove;
}
.btn-group  {
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap:1px;
    justify-self: center;
}
.block-2 {
    background-color: #444;
    color:#fff;
    border-radius:8px;
    border-color:#444;
    border-style: groove; 
}
.active, .block-2:hover {
    background-color: rgb(48, 47, 47);
    color: white;
    font-weight: bold;
  }
.main-div-display {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content:space-evenly;
}
.inner-p{
   text-align: Left;
   white-space: nowrap; 
   width: 100px; 
   height:100px;
   overflow: hidden;
   text-overflow: ellipsis; 
}
.outer-p{
    padding: 5px;
}
.block-4 >.t-block-btn{
    padding-inline: 20px;
    margin:auto;
    border:none;
    color:#fff;
    padding:10px;
}
.new-name {
    background-color: rgba(0,0,0,0);
    color: black;
    border: none;
    }

.scheduled-task {
    margin:auto;
    width:50%;
    padding:10px;
}
